:root {
  --fs-xs: clamp(0.75rem, 1vw, 0.875rem);
  --fs-sm: clamp(0.875rem, 1vw, 1rem);
  --fs-base: clamp(1rem, 1.5vw, 1.125rem);
  --fs-md: clamp(1.125rem, 2vw, 1.5rem);
  --fs-lg: clamp(1.25rem, 2.5vw, 2rem);
  --fs-xl: clamp(1.5rem, 3vw, 2.5rem);
  --fs-xxl: clamp(2rem, 4vw, 3.5rem);
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #76777e;
  --text-color-2: #1a1a1e;
  --text-color-accent: #111111;
  --accent-color: #0daccc;
  --accent-color-2: #e2e2e2;
  --card-bg: #eeeeee;
  --border-color: #dee2e6;
  --link-color: #0daccc;

  --contrast-full: #000;
  --contrast-zero: #fff;
}

[data-theme="ash"] {
  --bg-color: #2c2d32;
  --text-color: #76777e;
  --text-color-2: #1a1a1e;
  --text-color-accent: #c6ced4;
  --accent-color: #0daccc;
  --accent-color-2: #414249;
  --card-bg: #36373e;
  --border-color: #ced4da;
  --link-color: #0daccc;

  --contrast-full: #fff;
  --contrast-zero: #000;
}

[data-theme="dark"] {
  --bg-color: #1a1a1e;
  --text-color: #76777e;
  --text-color-2: #1a1a1e;
  --text-color-accent: #f1f1f1;
  --accent-color: #0daccc;
  --accent-color-2: #313138;
  --card-bg: #202024;
  --border-color: #343a40;
  --link-color: #0daccc;

  --contrast-full: #fff;
  --contrast-zero: #000;
}

[data-theme="onyx"] {
  --bg-color: #000000;
  --text-color: #76777e;
  --text-color-2: #1a1a1e;
  --text-color-accent: #e0e0e0;
  --accent-color: #ff6f00;
  --accent-color-2: #212121;
  --card-bg: #181818;
  --border-color: #333333;
  --link-color: #ff6f00;

  --contrast-full: #fff;
  --contrast-zero: #000;
}

[data-theme="neon"] {
  --bg-color: #0f0f1a;
  --text-color: #705470;
  --text-color-2: #1a1a1e;
  --text-color-accent: #a8d897;
  --accent-color: #a8d897;
  --accent-color-2: #381a38;
  --card-bg: #1a1a2e;
  --border-color: #2f2f5f;
  --link-color: #a8d897;

  --contrast-full: #fff;
  --contrast-zero: #000;
}

[data-theme="fire"] {
  --bg-color: #1a0000;
  --text-color: #816554;
  --text-color-2: #1a1a1e;
  --text-color-accent: #ffcccb;
  --accent-color: #b64b24;
  --accent-color-2: #4e1f17;
  --card-bg: #330000;
  --border-color: #662222;
  --link-color: #b64b24;

  --contrast-full: #fff;
  --contrast-zero: #000;
}
